// Specific CSS for your home-page

#page-container {  position: relative;  min-height: 100vh;}
#content-wrap {  padding-bottom: 2.5rem;    /* Footer height */}

body {
  // background-image: linear-gradient(to right, #7F7F91, #ffffff, #ffffff, #ffffff, #7F7F91);
  background-color: #F4F4F4;
}

.carousel {
  font-family: 'Roboto Condensed', sans-serif;
  background-color: #7F7F91;
  display: block;
  margin: 0 auto;
  padding: 0;
}

.carousel-item{
  height: 600px;
}

.carousel-item img {
   border-radius: 0px !important;
}

.carousel-caption {
  text-shadow: 4px 8px 6px #000000;
}

h1 {
  font-family: 'Open Sans', sans-serif;

}

h2 {
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
  margin: 50px;
  padding: 0px;
}

h3 {
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
  padding: 0px;
  margin: 0 auto;
}

h4 {
  font-family: 'Roboto Condensed', sans-serif;

}

p {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 12px;
}

.home-container {
  font-family: 'Roboto Condensed', sans-serif;
  background-color: #FFFAF7;
  justify-content: center;
  border-right: 1px #000000;
  border-left: 1px #000000;
  width: 800px;
  border-radius: 7px;
  box-shadow: 0 0 10px gray;
  text-align: center;
  color: #706677;
  border: 1px solid rgb(230,230,230);
  padding: 60px;
  margin: 60px;
}

.card p {
  font-family: 'Roboto Condensed', sans-serif;
  justify-content: center;
  font-size: 12px;
  font-weight: lighter;
}

.card i {
  color: #2A2B2E;
  font-size: 80px;
  justify-content: center;
  margin: 10px;
  padding: 10px;
}

.col i {
  color: #2A2B2E;
  font-size: 80px;
  justify-content: center;
  margin: 10px;
  padding: 10px;
}

.landing-cards {
  font-family: 'Roboto Condensed', sans-serif;
  display: grid;
  height: 300px;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 50px;
  grid-gap: 16px;
}

.card-category {
  border-radius: 7px;
}

.landing-text {
  position: relative;
  color: #ffffff;
  top: 140px;
  left: 5px;
}

.sexy_line {
    margin: 25px 0;
    height: 1px;
    background: black;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(white), to(white), color-stop(50%, black));
}



// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .landing-cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .landing-cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .landing-cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .landing-cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .landing-cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}



@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
