<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-8">
      <%= simple_form_for [@item, @rental] do |f| %>

        <%= f.full_error :token %>
        <%= f.submit 'Save your item!' %>
      <% end %>
    </div>
  </div>
</div>
