<div class="container">
  <div class="row">
    <div class="col-12">
      <%= link_to "Watches", items_path(category: "Watches") %> | <%= link_to "Bags", items_path(category: "Bags") %>
    </div>
  </div>
</div>
