<div class='split-pane col-xs-12 col-sm-12 uiux-side'>
  <div>
    <div class='text-content'>
    </div>
   <div class="btn btn-light btn-lg-bags">
      <%= link_to 'SHOW ME BAGS', items_path(category: "Bags"), :class => "btn" %>
    </div>
  </div>
</div>
<div class='split-pane col-xs-12 col-sm-12 frontend-side'>
  <div>
    <div class='text-content'>
    </div>
    <div class="btn btn-light btn-lg-watches">
      <%= link_to 'SHOW ME WATCHES', items_path(category: "Watches"), :class => "btn" %>

      </div>
  </div>
</div>
<!-- <div id='split-pane-or'>
  <div>
    <img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/74452/bcr-white.png'>
  </div> -->
</div>
