<h2><u>Watches</u></h2>
  <div class = "cards m-5 background-color: #F4F4F4;">
    <% @items.each do |item| %>
    <div class = "card">
      <img class="card-img-top" src="<%= cl_image_path item.photo, height: 300, width: 400, crop: :fill %>" >
      <h4 class="text-center p-2"><%= link_to item.name, item_path(item) %> $<%= item.price %></h4>
    </div>
    <% end %>
  </div>

<h2><u>Purses</u></h2>
  <div class = "cards m-5 background-color: #F4F4F4;">
    <div class="card">
      <img class="card-img-top" src="https://res.cloudinary.com/junm0918/image/upload/v1559014775/debora-cardenas-500582-unsplash-min_uey3go.jpg" alt="Prada">
      <a href="/items/3">
        <h4 class="text-center p-2">Prada</h4>
      </a>
    </div>
    <div class = "card">
      <img class="card-img-top" src="https://res.cloudinary.com/junm0918/image/upload/v1559022179/cull-nguyen-1249647-unsplash-min_gax75a.jpg" alt="Louis Vuitton">
      <a href="/items/4">
        <h4 class="text-center p-2">Louis Vuitton</h4>
      </a>
    </div>
    <div class="card">
      <img class="card-img-top" src="https://res.cloudinary.com/junm0918/image/upload/v1559114676/maxresdefault_nmdbak.jpg" alt="Coach">
      <a href="/items/5">
        <h4 class="text-center p-2">Coach</h4>
      </a>
    </div>
    <div class="card">
      <img class="card-img-top" src="https://res.cloudinary.com/junm0918/image/upload/v1559114753/best_Celine_bags_of_all_time_qzocyh.jpg" alt="Celine">
      <a href="/items/6">
        <h4 class="text-center p-2">Celine</h4>
      </a>
    </div>
    <div class = "card">
      <img class="card-img-top" src="https://res.cloudinary.com/junm0918/image/upload/v1559026156/Gucci_ehuuli.jpg" alt="Gucci">
      <a href="/items/7">
        <h4 class="text-center p-2">Gucci</h4>
      </a>
    </div>
  </div>

