<h2><p><u>Watches</u></p></h2>
  <div class = "grid m-5 background-color: #F4F4F4;">
    <% @items.each do |item| %>
    <div class = "card">
      <img class="card-img-top" src="<%= cl_image_path item.photo, height: 300, width: 400, crop: :fill %>" >
      <p class="text-center p-2"><%= link_to item.name, item_path(item) %> $<%= item.price %> per DAY</p>
    </div>
    <% end %>
    <div class="card">
      <img class="card-img-top" src="https://res.cloudinary.com/junm0918/image/upload/v1559014777/janfillem-623483-unsplash-min_suemro.jpg">
        <p class="text-center p-2">IWC $140 per DAY</p>
    </div>
    <div class="card">
      <img class="card-img-top" src="https://res.cloudinary.com/junm0918/image/upload/v1559114442/Replica-Franck-Muller-8880_a4wily.jpg">
        <p class="text-center p-2">Frank Muller $130 per DAY</p>
    </div>
    <div class="card">
      <img class="card-img-top" src="https://res.cloudinary.com/junm0918/image/upload/v1559024770/Hublot-Classic-Fusion-Aerofusion-Chronograph-Orlinski-1_m7srkn.jpg">
        <p class="text-center p-2">Hublot $120 per DAY</p>
    </div>
  </div>

<h2><p><u>Purses</u></p></h2>
  <div class = "grid m-5 background-color: #F4F4F4;">
    <div class="card">
      <img class="card-img-top" src="https://res.cloudinary.com/junm0918/image/upload/v1559014775/debora-cardenas-500582-unsplash-min_uey3go.jpg">
        <p class="text-center p-2">Prada $140 per DAY</p>
    </div>
    <div class = "card">
      <img class="card-img-top" src="https://res.cloudinary.com/junm0918/image/upload/v1559022179/cull-nguyen-1249647-unsplash-min_gax75a.jpg">
        <p class="text-center p-2">Louis Vuitton $200 per DAY</p>
    </div>
    <div class="card">
      <img class="card-img-top" src="https://res.cloudinary.com/junm0918/image/upload/v1559114676/maxresdefault_nmdbak.jpg">
        <p class="text-center p-2">Coach $100 per DAY</p>
    </div>
    <div class="card">
      <img class="card-img-top" src="https://res.cloudinary.com/junm0918/image/upload/v1559114753/best_Celine_bags_of_all_time_qzocyh.jpg">
        <p class="text-center p-2">Celine $80 per DAY</p>
    </div>
    <div class = "card">
      <img class="card-img-top" src="https://res.cloudinary.com/junm0918/image/upload/v1559026156/Gucci_ehuuli.jpg" class="rounded">
        <p class="text-center p-2">Gucci $300 per DAY</p>
    </div>
  </div>

