<div class="image-cards">
  <div class="item-banner-card" style="background-size: cover; background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(http://res.cloudinary.com/louixa/image/upload/v1559286219/ivan-zhukevich-54872-unsplash_xwnzbg.jpg)">
  </div>
    <h1><div class="top-left">CHOOSE YOUR LUXURY</div></h1>
</div>


  <div class = "cards m-5 background-color: #F4F4F4;">
    <% @items.each do |item| %>
    <div class = "card">
      <img class="card-img-top" src="<%= cl_image_path item.photo, height: 300, width: 400, crop: :fill %>" ><h4 class="text-center p-2"><%= link_to item.name, item_path(item) %> | $<%= item.price %>/day</h4>
    </div>
    <% end %>
  </div>


