<div class="image-cards">
  <div class="item-banner-card" style="background-size: cover; background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(http://res.cloudinary.com/louixa/image/upload/v1559286219/ivan-zhukevich-54872-unsplash_xwnzbg.jpg)">
  </div>
    <h1><div class="top-left">CHOOSE YOUR LUXURY</div></h1>
</div>

<br></br>

  <div class = "cards m-5 background-color: #F4F4F4;">
    <% @items.each do |item| %>
    <div class = "card">
      <img class="card-img-top" src="<%= cl_image_path item.photo, height: 300, width: 400, crop: :fill %>" ><p class="text-left p-2"><h5> &nbsp <%= link_to item.name.upcase, item_path(item) %></h5>
         &nbsp&nbsp$<%= item.price %>/day<br></br></p>
    </div>
    <% end %>
  </div>


