.three-images-wrapper {
  min-height: 40rem;

  .three-images {
    margin-bottom: 4rem;
    min-height: 360px;
    position: relative;
  }

  .featured-image-outer {
    position: absolute;
    margin-left: -10%;
    min-height: 360px;
    overflow: hidden;
    width: 50%;
    -ms-transform: skew(-15deg,0deg); /* IE 9 */
    -webkit-transform: skew(-15deg,0deg); /* Safari */
    transform: skew(-15deg,0deg); /* Standard syntax */
  }

  .featured-image-inner,
  .two-images-inner {
    background-size: cover;
    background-position: center;

    &:hover {
      cursor: pointer;
      overflow: hidden;
      height: 600px;
    }
  }

  .featured-image-inner {
    left: 50px;
    position: absolute;
    top: 0;
    height: 360px;
    width: 100%;
    -ms-transform: skew(15deg,0deg); /* IE 9 */
    -webkit-transform: skew(15deg,0deg); /* Safari */
    transform: skew(15deg,0deg); /* Standard syntax */
  }

  .two-images {
    min-height: 360px;
    position: relative;
    right: -68%;
    top: 0;
    width: 40%;
    -ms-transform: skew(-15deg,0deg); /* IE 9 */
    -webkit-transform: skew(-15deg,0deg); /* Safari */
    transform: skew(-15deg,0deg); /* Standard syntax */

    .two-images-outer {
      min-height: 180px;
      overflow: hidden;
      position: relative;
      width: 100%;

      .two-images-inner {
        position: absolute;
        height: 170px;
        right: 10%;
        width: 100%;
        -ms-transform: skew(15deg,0deg); /* IE 9 */
        -webkit-transform: skew(15deg,0deg); /* Safari */
        transform: skew(15deg,0deg); /* Standard syntax */
      }
    }

    .two-images-outer:nth-of-type(2) {
      margin-top: 10px;
    }
  }
}
