.footer {
  background-image:
     linear-gradient(
       to top right,
       #7F7F91, #2A2B2E);
  color: #FFFFFF;
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
  position: absolute;
  padding: 0px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 80px;
}

.footer p {
  font-size: 12px;
}

.footer i {
  text-decoration: none;
  letter-spacing: 16px;
  font-size: 18px;
  color: #CCB7AE;
  margin-top: 20px;
}
