.footer {
  background-image:
    linear-gradient(
      to top right,
      #7F7F91, #2A2B2E);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}

.footer p {
  font-size: 12px;
}

.footer a {
  text-decoration: none;
  font-size: 15px;
}

.footer i {
  font-size: 15px;
  letter-spacing: 5px;
  text-decoration: none;
  color: #CCB7AE
}


.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}
