.show {
  font-family: 'Roboto Condensed', sans-serif;
  margin: 5px;
  padding: 0;
  justify-content: center;
}

.calendar {
    font-family: 'Roboto Condensed', sans-serif;
    margin: 5px;
}


img {
  border-radius: 10px;
}
